<% if @user.errors.any? %>
<div id = "errors">
    <p>Errors saving user due to:</p>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
    </ul>
</div>
<% end %>
