body{
    font-family: "Verdana";
    font-size: 10pt;
    background: #FF0000;
}

.center{
    margin-left: auto;
    margin-right: auto;
}

div.leaderboard{
    width: 350px;
}

div.content{
    margin-top: 75px;
    padding: 15px;
    background:white;
    width: 70%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
}

div.elems{
    display:inline;
}

div.all_posts{
    width: 750px;
    padding: 10px;
}

div.post{
    background: #DFFCFF;
    padding:5px;
    width: 500px;
    margin-left: 0px;
}

div.post b{
    color: #FFCC00;
}

input{
    border: #DDDDDD 1px solid;
    background: white;
}

div.nav{
    display: inline;
    float: right;
}

div.nav a{
    margin-left: 15px;
}

font.username{
    font-color: blue;
}

div.curruser{
    float:left;
}

div.confirmation form{
    display: inline;
    margin-top: 10px;
    margin-bottom: 10px;
}

div.points p{
    display: inline;
    margin-right: 50px;
}

table.postings td{
    vertical-align:top
}